/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {body{
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #c9c980;
    background: #101935;
    /*@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');*/
    font-family: cursor, Menlo, monospace;
    font-size: 100%;
    /*font-family: 'Prompt', sans-serif;*/
    /* font-family: Ubuntu, "times new roman", times, roman, serif, monospace; */
    overflow-x: hidden;
}
::selection {
    color: #1b2b5c;
    background-color: #c9c980;
}
::-moz-selection{
    color: #1b2b5c;
    background-color: #c9c980;
}
textarea {
    left: -1000px;
    position: absolute;
}
b {
    font-weight: bold;
    text-decoration: underline;
}
/* Cursor Start */
.cursor {
  font-size: 12px;
  color: #9AD4D6;
  background-color: #9AD4D6;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
#command {
    cursor: text;
    height: 50px;
    color: #9AD4D6;
}
#liner {
    line-height: 1.3em;
    margin-top: -2px;
    animation: show 0.5s ease forwards;
    animation-delay: 4.3s;
    opacity: 0;
}
#liner::before {
    color: #c9c980;
    content: "visitor@dbotas.github.io:~$";
}
#liner.password::before {
    content: "Password:";
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*Cursor End */
p{
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
}
.no-animation {
    animation: typing 0 steps(30, end);
}
.margin {
    margin-left: 20px;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.index {
    color: #dcdccc;
}
.color2 {
    color: #efe6ca;
}
.color3 {
    color: greenyellow;
}
.command {
    color: #d3d4da;
    text-shadow: 0 0 5px #ffffff;
}
.error {
    color: #efe6ca;
}
.white {
    color: #ffffff;
}
.inherit,
a {
    color: #dcdccc;
}
a {
    text-decoration: inherit;
}
a:hover {
    background: #d3d4da;
    color: #211830;
}
a:focus {
    outline: 0;
}}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {body{
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #c9c980;
    background: #101935;
    /*@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');*/
    font-family: cursor, Menlo, monospace;
    font-size: 100%;
    /*font-family: 'Prompt', sans-serif;*/
    /* font-family: Ubuntu, "times new roman", times, roman, serif, monospace; */
    overflow-x: hidden;
}
::selection {
    color: #1b2b5c;
    background-color: #c9c980;
}
::-moz-selection{
    color: #1b2b5c;
    background-color: #c9c980;
}
textarea {
    left: -1000px;
    position: absolute;
}
b {
    font-weight: bold;
    text-decoration: underline;
}
/* Cursor Start */
.cursor {
  font-size: 12px;
  color: #9AD4D6;
  background-color: #9AD4D6;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
#command {
    cursor: text;
    height: 50px;
    color: #9AD4D6;
}
#liner {
    line-height: 1.3em;
    margin-top: -2px;
    animation: show 0.5s ease forwards;
    animation-delay: 4.3s;
    opacity: 0;
}
#liner::before {
    color: #c9c980;
    content: "visitor@dbotas.github.io:~$";
}
#liner.password::before {
    content: "Password:";
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*Cursor End */
p{
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
}
.no-animation {
    animation: typing 0 steps(30, end);
}
.margin {
    margin-left: 20px;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.index {
    color: #dcdccc;
}
.color2 {
    color: #efe6ca;
}
.color3 {
    color: greenyellow;
}
.command {
    color: #d3d4da;
    text-shadow: 0 0 5px #ffffff;
}
.error {
    color: #efe6ca;
}
.white {
    color: #ffffff;
}
.inherit,
a {
    color: #dcdccc;
}
a {
    text-decoration: inherit;
}
a:hover {
    background: #d3d4da;
    color: #211830;
}
a:focus {
    outline: 0;
}}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        margin: 0;
        padding: 15px 20px;
        min-height: 99%;
        width: 100%;
        min-width: 550px;
        color: #c9c980;
        background: #101935;
        /*@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');*/
        font-family: cursor, Menlo, monospace;
        font-size: 100%;
        /*font-family: 'Prompt', sans-serif;*/
        /* font-family: Ubuntu, "times new roman", times, roman, serif, monospace; */
        overflow-x: hidden;
    }
    ::selection {
        color: #1b2b5c;
        background-color: #c9c980;
    }
    ::-moz-selection{
        color: #1b2b5c;
        background-color: #c9c980;
    }
    textarea {
        left: -1000px;
        position: absolute;
    }
    b {
        font-weight: bold;
        text-decoration: underline;
    }
    /* Cursor Start */
    .cursor {
      font-size: 12px;
      color: #9AD4D6;
      background-color: #9AD4D6;
      position: relative;
      opacity: 1;
      height: 1.5em;
      width: 10px;
      max-width: 10px;
      transform: translateY(4px);
      overflow: hidden;
      text-indent: -5px;
      display: inline-block;
      text-decoration: blink;
      animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
    #command {
        cursor: text;
        height: 50px;
        color: #9AD4D6;
    }
    #liner {
        line-height: 1.3em;
        margin-top: -2px;
        animation: show 0.5s ease forwards;
        animation-delay: 4.3s;
        opacity: 0;
    }
    #liner::before {
        color: #c9c980;
        content: "visitor@dbotas.github.io:~$";
    }
    #liner.password::before {
        content: "Password:";
    }
    @keyframes show {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /*Cursor End */
    p{
        display: block;
        line-height: 1.3em;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 0.05em;
        animation: typing 0.5s steps(30, end);
    }
    .no-animation {
        animation: typing 0 steps(30, end);
    }
    .margin {
        margin-left: 20px;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    .index {
        color: #dcdccc;
    }
    .color2 {
        color: #efe6ca;
    }
    .color3 {
        color: greenyellow;
    }
    .command {
        color: #d3d4da;
        text-shadow: 0 0 5px #ffffff;
    }
    .error {
        color: #efe6ca;
    }
    .white {
        color: #ffffff;
    }
    .inherit,
    a {
        color: #dcdccc;
    }
    a {
        text-decoration: inherit;
    }
    a:hover {
        background: #d3d4da;
        color: #211830;
    }
    a:focus {
        outline: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        margin: 0;
        padding: 15px 20px;
        min-height: 99%;
        width: 100%;
        min-width: 550px;
        color: #c9c980;
        background: #101935;
        /*@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');*/
        font-family: cursor, Menlo, monospace;
        font-size: 100%;
        /*font-family: 'Prompt', sans-serif;*/
        /* font-family: Ubuntu, "times new roman", times, roman, serif, monospace; */
        overflow-x: hidden;
    }
    ::selection {
        color: #1b2b5c;
        background-color: #c9c980;
    }
    ::-moz-selection{
        color: #1b2b5c;
        background-color: #c9c980;
    }
    textarea {
        left: -1000px;
        position: absolute;
    }
    b {
        font-weight: bold;
        text-decoration: underline;
    }
    /* Cursor Start */
    .cursor {
      font-size: 12px;
      color: #9AD4D6;
      background-color: #9AD4D6;
      position: relative;
      opacity: 1;
      height: 1.5em;
      width: 10px;
      max-width: 10px;
      transform: translateY(4px);
      overflow: hidden;
      text-indent: -5px;
      display: inline-block;
      text-decoration: blink;
      animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
    #command {
        cursor: text;
        height: 50px;
        color: #9AD4D6;
    }
    #liner {
        line-height: 1.3em;
        margin-top: -2px;
        animation: show 0.5s ease forwards;
        animation-delay: 4.3s;
        opacity: 0;
    }
    #liner::before {
        color: #c9c980;
        content: "visitor@dbotas.github.io:~$";
    }
    #liner.password::before {
        content: "Password:";
    }
    @keyframes show {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /*Cursor End */
    p{
        display: block;
        line-height: 1.3em;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 0.05em;
        animation: typing 0.5s steps(30, end);
    }
    .no-animation {
        animation: typing 0 steps(30, end);
    }
    .margin {
        margin-left: 20px;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    .index {
        color: #dcdccc;
    }
    .color2 {
        color: #efe6ca;
    }
    .color3 {
        color: greenyellow;
    }
    .command {
        color: #d3d4da;
        text-shadow: 0 0 5px #ffffff;
    }
    .error {
        color: #efe6ca;
    }
    .white {
        color: #ffffff;
    }
    .inherit,
    a {
        color: #dcdccc;
    }
    a {
        text-decoration: inherit;
    }
    a:hover {
        background: #d3d4da;
        color: #211830;
    }
    a:focus {
        outline: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        margin: 0;
        padding: 15px 20px;
        min-height: 99%;
        width: 100%;
        min-width: 550px;
        color: #c9c980;
        background: #101935;
        /*@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');*/
        font-family: cursor, Menlo, monospace;
        font-size: 100%;
        /*font-family: 'Prompt', sans-serif;*/
        /* font-family: Ubuntu, "times new roman", times, roman, serif, monospace; */
        overflow-x: hidden;
    }
    ::selection {
        color: #1b2b5c;
        background-color: #c9c980;
    }
    ::-moz-selection{
        color: #1b2b5c;
        background-color: #c9c980;
    }
    textarea {
        left: -1000px;
        position: absolute;
    }
    b {
        font-weight: bold;
        text-decoration: underline;
    }
    /* Cursor Start */
    .cursor {
      font-size: 12px;
      color: #9AD4D6;
      background-color: #9AD4D6;
      position: relative;
      opacity: 1;
      height: 1.5em;
      width: 10px;
      max-width: 10px;
      transform: translateY(4px);
      overflow: hidden;
      text-indent: -5px;
      display: inline-block;
      text-decoration: blink;
      animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
    #command {
        cursor: text;
        height: 50px;
        color: #9AD4D6;
    }
    #liner {
        line-height: 1.3em;
        margin-top: -2px;
        animation: show 0.5s ease forwards;
        animation-delay: 4.3s;
        opacity: 0;
    }
    #liner::before {
        color: #c9c980;
        content: "visitor@dbotas.github.io:~$";
    }
    #liner.password::before {
        content: "Password:";
    }
    @keyframes show {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /*Cursor End */
    p{
        display: block;
        line-height: 1.3em;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 0.05em;
        animation: typing 0.5s steps(30, end);
    }
    .no-animation {
        animation: typing 0 steps(30, end);
    }
    .margin {
        margin-left: 20px;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    .index {
        color: #dcdccc;
    }
    .color2 {
        color: #efe6ca;
    }
    .color3 {
        color: greenyellow;
    }
    .command {
        color: #d3d4da;
        text-shadow: 0 0 5px #ffffff;
    }
    .error {
        color: #efe6ca;
    }
    .white {
        color: #ffffff;
    }
    .inherit,
    a {
        color: #dcdccc;
    }
    a {
        text-decoration: inherit;
    }
    a:hover {
        background: #d3d4da;
        color: #211830;
    }
    a:focus {
        outline: 0;
    }
}